[submodule "config/vim/plugged/vim-tmux-navigator"]
	path = config/vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "config/vim/plugged/vim-glsl"]
	path = config/vim/plugged/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "config/vim/pack/plugins/opt/config/vim/pack/colors/opt/nord-vim"]
	path = config/vim/pack/plugins/opt/config/vim/pack/colors/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "config/vim/pack/plugins/opt/config/vim/pack/plugins/opt/vim-markdown"]
	path = config/vim/pack/plugins/opt/config/vim/pack/plugins/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "config/config/vim/pack/plugins/opt/vim-markdown"]
	path = config/config/vim/pack/plugins/opt/vim-markdown
	url = https://github.com/arcticicestudio/nord-vim
[submodule "config/firefox/chrome/firefox-csshacks"]
	path = config/firefox/chrome/firefox-csshacks
	url = https://github.com/MrOtherGuy/firefox-csshacks
[submodule "config/firefox/chrome/nord-firefox"]
	path = config/firefox/chrome/nord-firefox
	url = https://github.com/daaniiieel/nord-firefox
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:dfangx/nvim-config.git 
