[submodule "config/vim/plugged/vim-tmux-navigator"]
	path = config/vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "config/suckless/dwm"]
	path = config/suckless/dwm
	url = git@github.com:dfangx/dwm.git
