config/*
!config/linux
!config/newsboat
!config/portage
!config/suckless
!config/tmux
!config/user-dirs.dirs
!config/vim
!config/nvim
!config/X11
!config/zathura
!config/i3
!config/i3blocks
!config/picom
!config/conky
!config/firefox
!config/runit
!config/xmonad
!config/spectrwm
!config/grub
config/linux/fstab
config/vim/.netrwhist
config/nvim/.netrwhist
config/vim/skeletons/skeleton.tex
config/vim/plugged
bin/*
!bin/keys
!bin/snip
!bin/package_manager
!bin/notes
!bin/startvm
!bin/status_bar
!bin/wrap_alias
!bin/taskwarrior
!bin/helpme
!bin/define
tags
