config/git
config/wpa_supplicant
config/linux/fstab
config/vim/.netrwhist
config/mpv
config/newsboat/*
!config/newsboat/urls
!config/newsboat/config
config/procps
config/gtk-3.0
config/xbuild
config/keepassxc
config/QtProject.conf
